<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>PeakKino</title>
    {% block extra_scripts %}
    {% endblock %}
</head>
<body>
    <div class="template-content">
        <nav class="navigation">
            <ul class="links-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'videos:all_videos' %}">All videos</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:all_movies' %}">Movies</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:all_shows' %}">Shows</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:all_clips' %}">Clips</a>
                    </li>
                    {% if request.user.age >= 18 %}
                        <li>
                            <a href="{% url 'videos:18_plus' %}">18+ content</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if request.user.is_staff %}
                    <li>
                        <a href="{% url 'videos:upload_clip' %}">Upload Clip</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:upload_movie' %}">Upload Movie</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:create_show' %}">Create Show</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:delete_clip_page' %}">Delete a Clip</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:delete_movie_page' %}">Delete a Movie</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:delete_show_page' %}">Delete a Show</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="accounts-nav">
                {% if request.user.is_authenticated %}
                <li>
                    Logged in as: {{ request.user.user_name }}
                </li>
                {% if request.user.is_superuser %}
                    <li>
                        <a href="{% url 'accounts:approve_accounts' %}">Approve accounts</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'accounts:logout' %}">Logout</a>
                </li>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>


</html>