<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" >
    <title>PeakKino</title>
    
</head>
<body>
    <div class="template-content">
        <nav class="navigation">
            <ul class="links-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'videos:all_videos' %}">All videos</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:all_movies' %}">Movies</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:all_shows' %}">Shows</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:all_clips' %}">Clips</a>
                    </li>
                    {% if request.user.age >= 18 %}
                        <li>
                            <a href="{% url 'videos:18_plus' %}">18+ content</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                <div class="search-container">
                    {% if query == None %}
                        <input type="text" id="search-input" placeholder="Search"/>
                    {% else %}
                        <input type="text" id="search-input" placeholder="{{query}}"/>
                    {% endif %}
                    <form id="search-form">
                        <label for="type-select">Type:</label>
                        <select id="type-select" name="type">
                            <option value="all" selected>All</option>
                            <option value="movies">Movies</option>
                            <option value="clips">Clips</option>
                            <option value="shows">Shows</option>
                        </select>
                    </form>
                    <button id="search-button">Search</button>
                </div>
            {% endif %}

            <ul class="accounts-nav">
                {% if request.user.is_authenticated %}
                <li>
                    {{ request.user.user_name }}
                </li>
                {% if request.user.is_superuser %}
                    <li>
                        <a href="{% url 'accounts:approve_accounts' %}">Approve accounts</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'accounts:logout' %}">Logout</a>
                </li>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var defaultType = "all";

        var typeSelect = document.getElementById('type-select');
        typeSelect.value = defaultType;

        document.getElementById('search-button').addEventListener('click', function() {
            var query = document.getElementById('search-input').value;
            var type = typeSelect.value;
            var url = '/videos/search/?query=' + encodeURIComponent(query) + '&type=' + type;
            console.log(url);
            window.location.href = url;
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const clickableDivs = document.querySelectorAll(".clickable-div");
        
        clickableDivs.forEach(div => {
            div.addEventListener("mouseup", function(event) {
                const url = this.getAttribute("data-url");
                
                if (event.button === 0) {
                    window.location.href = url;
                }
                if (event.button === 1) {
                    window.open(url, '_blank');
                }
            });
        });
    });
</script>

{% block extra_scripts %}
{% endblock %}
</html>