<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeakKino</title>
</head>
<body>
    <div class="template-content">
        <nav class="navigation">
            <ul class="links-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'videos:all_videos' %}">All videos</a>
                    </li>
                    <li>
                        <a>Movies</a>
                    </li>
                    <li>
                        <a>Shows</a>
                    </li>
                    <li>
                        <a>Clips</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:18_plus' %}">18+ content</a>
                    </li>
                {% endif %}
                {% if request.user.is_staff %}
                    <li>
                        <a href="{% url 'videos:upload_clip' %}">Upload Clip</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:upload_movie' %}">Upload Movie</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:delete_clip_page' %}">Delete a Clip</a>
                    </li>
                    <li>
                        <a href="{% url 'videos:delete_movie_page' %}">Delete a Movie</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="accounts-nav">
                {% if request.user.is_authenticated %}
                    <li>
                        Logged in as: {{ request.user.user_name }}
                    </li>
                    <li>
                        <a href="{% url 'accounts:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>