{% extends 'base.html' %}

{% block content %}
<h1>Jump back: </h1>
{% for video, thumbnail_path, attached_obj, details_page_url in videos %}
        <h2>{{ attached_obj.title }}</h2>
        <img src="{{ thumbnail_path }}" style="max-width: 50%; max-height: 300px"/>
        <br/>
        {% if video.type == 'movie' %}
            <p>Type: movie</p>
            <p>Director: {{ attached_obj.director }}</p>
            <p>Lead actor: {{ attached_obj.lead_actor }}</p>
        {% endif %}
        <a href="{{ details_page_url }}">WATCH</a>
    {% endfor %}
{% endblock %}