{% extends 'all_stuff_base.html' %}
{% block extra_content %}
    {% if request.user.is_staff %}
        <div class="clickable-div" data-url="{{upload_url}}">
            <div class="upload-container">
                <div class="upload-image-container">
                </div>
                <h3>Upload shows</h3>
            </div>
        </div>
    {% endif %}
    <div class="shows">
        {% for show in shows %}
            <div class="clickable-div" data-url="{% url 'videos:show_details' show.id %}">
                <div class="show-content-container">
                    <div class="show-container">
                        <img src="/media/{{ show.get_image_path }}"/>
                        <div class="show-info">
                            <h2>{{show.name}}</h2>
                        </div>
                    </div>
                    {% if request.user.is_staff %}
                        <button class="delete-button" id="{{show.id}}">Delete</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}