{% extends 'base.html' %}
{% block content %}
    <h1>Search {{type}}</h1>
    <input type="text" id="search-input" placeholder="{{query}}"/>
    <button id="search-button">Search</button>
    <div class="search-container">
        <form id="search-form">
            <label>
                <input type="radio" name="type" value="all" checked>
                All
            </label>
            <label>
                <input type="radio" name="type" value="movies">
                Movies
            </label>
            <label>
                <input type="radio" name="type" value="clips">
                Clips
            </label>
            <label>
                <input type="radio" name="type" value="shows">
                Shows
            </label>
        </form>
    </div>

    {% block extra_content %}
    {% endblock %}

    
{% endblock %}

{% block extra_scripts %}
    <script>
        defaultTypeRadioButton = "{{type}}"

        document.addEventListener("DOMContentLoaded", function() {
            var defaultRadioButton = document.querySelector('input[name="type"][value="' + defaultTypeRadioButton + '"]');
            if (defaultRadioButton) {
                defaultRadioButton.checked = true;
            }

            document.getElementById('search-button').addEventListener('click', function() {
                var query = document.getElementById('search-input').value;
                console.log(query);
                var type = document.querySelector('input[name="type"]:checked').value;
                var url = '/videos/search/?query=' + encodeURIComponent(query) + '&type=' + type;
                console.log(url);
                window.location.href = url;
            });
        });
    </script>
{% endblock %}
