{% extends 'all_stuff_base.html' %}
{% block extra_content %}
    {% for video, thumbnail_path, attached_obj, details_page_url in videos %}
            <h2>{{ attached_obj.title }}</h2>
            <img src="{{ thumbnail_path }}" style="max-width: 50%; max-height: 300px"/>
            <br/>
            {% if video.type == 'movie' %}
                <p>Type: movie</p>
                <p>Director: {{ attached_obj.director }}</p>
                <p>Lead actor: {{ attached_obj.lead_actor }}</p>
            {% endif %}
            <a href="{{ details_page_url }}">WATCH</a>
            {% if request.user.is_staff %}
                <a href="{% url 'videos:upload_subtitle' video.id  %}">Add subtitle</a>
            {% endif %}
            {% if type != 'all' %}
                <button class="delete-button" id="{{attached_obj.pk}}">Delete</button>
            {% endif %}
    {% endfor %}
{% endblock %}