{% extends 'base.html' %}
{% block content %}
    <div class="alternate-search-container">
        <input type="text" id="search-input" placeholder="{{query}}"/>
        <form id="search-form">
            <label for="type-select">Type:</label>
            <select id="type-select" name="type">
                <option value="all" selected>All</option>
                <option value="movies">Movies</option>
                <option value="clips">Clips</option>
                <option value="shows">Shows</option>
            </select>
        </form>
        <button id="search-button">Search</button>
    </div>
    {% block extra_content %}
    {% endblock %}
{% endblock %}

{% block extra_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var defaultType = "{{type}}";

            var typeSelect = document.getElementById('type-select');
            typeSelect.value = defaultType;

            document.getElementById('search-button').addEventListener('click', function() {
                var query = document.getElementById('search-input').value;
                var type = typeSelect.value;
                var url = '/videos/search/?query=' + encodeURIComponent(query) + '&type=' + type;
                console.log(url);
                window.location.href = url;
            });
        });
    </script>
    <script>
        document.addEventListener("click", function(event) {
            if (event.target.classList.contains("delete-button")) {
                const id = event.target.id;
                const type = '{{ type }}'.slice(0, -1);
                deleteItem(id, type);
            }
        });
    
        function deleteItem(id, type) {
            fetch(`/videos/delete/${type}/${id}/`, {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error('Failed to delete item');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
{% endblock %}
