{% extends 'base.html' %}
{% block content %}

{% for video, thumbnail_path, attached_obj, details_page_url, id in render_collection %}
    <h2>{{ attached_obj.title }}</h2>
    <img src="{{ thumbnail_path }}" style="max-width: 50%; max-height: 300px"/>
    <br>
    <a href="{{ details_page_url }}">About</a>
    <br>
    <button class="delete-button" id="{{ id }}">Delete this {{ type }}</button>
{% endfor %}

<script>
    document.addEventListener("click", function(event) {
        if (event.target.classList.contains("delete-button")) {
            const id = event.target.id;
            const type = '{{ type }}';
            deleteItem(id, type);
        }
    });

    function deleteItem(id, type) {
        fetch(`/videos/delete/${type}/${id}/`, {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            if (response.ok) {
                location.reload();
            } else {
                console.error('Failed to delete item');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

{% endblock %}