{% extends 'base.html' %}
{% block content %}
    <h1>{{show.name}}</h1>
    <img src="/media/{{show.get_image_path}}">
    {% if request.user.is_staff %}
        <a href="{% url 'videos:create_season' show.id %}">Add season</a>
    {% endif %}
    <div class="seasons">
        {% for season in seasons %}
        <div class="episodes">
            <h2>{{season.number}}: {{season.name}}</h2>
            {% for episode in episodes %}
                {% if episode.season == season %}
                    <h3>{{episode.title}}</h3>
                    <a href="{% url 'videos:video_details' episode.video.id %}">Watch</a>
                    {% if request.user.is_staff %}
                        <button class="delete-button" id="{{ episode.id }}">Delete episode</button>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% if request.user.is_staff %}
            <a href="{% url 'videos:upload_episode' season.id %}">Upload an episode</a>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}

{% block extra_scripts %}
<script>
        document.addEventListener("click", function(event) {
            if (event.target.classList.contains("delete-button")) {
                const id = event.target.id;
                deleteItem(id);
            }
        });
        
        function deleteItem(id) {
            fetch(`/videos/delete/episode/${id}/`, {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error('Failed to delete item');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
{% endblock %}