{% extends 'base.html' %}
{% block content %}
<h1>Upload show</h1>
    <div class="form-wrapper">
        <form method="post" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <button type="submit">Submit</button>
        </form>
        <button id="autohelp-button">Auto fill info</button>
    </div>
    <div class="results">
        
    </div>
{% endblock %}

{% load static %}
{% block extra_scripts %}
    <script src="{% static 'show_autofill.js' %}"></script>
{% endblock %}